python-dotenv==1.*
openai==0.27.*
langchain==0.0.242.*
codeboxapi>=0.0.18
streamlit==1.*; optional
jupyter-kernel-gateway==2.*; optional
Pillow==9.*; optional

pytest==7.*
mypy==1.4.*
black==23.*
flake8==6.*
pre-commit==3.3.*
